/* Please consider this file like you would a globals.css file, these are CSS styling settings that apply to the entirety of the page */

@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import "tailwindcss";

@tailwind utilities;

@font-face {
  font-family: "Bukhari";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/BukhariScript-Regular.ttf") format("truetype");
}

@theme {
  --font-actor: "Actor", sans-serif;
  --font-bukhari: "Bukhari", sans-serif;
  
  /* custom colors for the website, please only refer to these */
  --color-page: #FFFFFF;
  --color-page-dark: #3E3B36;
  
  --color-primary: #894E35;
  --color-primary-pink: #D25099;
  --color-primary-yellow: #EDB22D;
  --color-primary-mint: #88CECF;
  --color-primary-brown: #894E35;
  
  --color-secondary: #FFFFFF;
  --color-secondary-pink: #F7D2E7;
  --color-secondary-yellow: #FADD9C;
  --color-secondary-mint: #C0E5E5;
  
  --color-teriary-yellow: #F9ECCC;
}